GA4 Traffic Analysis.json
{
  "name": "GA4 Traffic Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -48
      ],
      "id": "54c8bdc4-03a1-4861-8931-812245f1a590",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        160
      ],
      "id": "5930ac22-d5e0-4136-9217-ec8471431622",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UuDz8P16XRKqU3cY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "prashaanthrathnavel@gmail.com",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -48
      ],
      "id": "f2d56014-5236-47c4-91a1-6db74589e96a",
      "name": "Send a message",
      "webhookId": "1b947b34-165c-4219-8fd0-27ce26d5bdaa",
      "credentials": {
        "gmailOAuth2": {
          "id": "q1Oxf9zGorhsDgP7",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50048734-3761-4015-82d4-ec1ff8b79085",
              "name": "activeUsers",
              "value": 320,
              "type": "number"
            },
            {
              "id": "205e5256-ae10-4135-afae-321913c870c3",
              "name": "sessions",
              "value": 410,
              "type": "number"
            },
            {
              "id": "bf2e2d21-94f7-4f19-a302-0ce0ef60898a",
              "name": "newUsers",
              "value": 210,
              "type": "number"
            },
            {
              "id": "4c19c6f1-3ff6-4007-940e-b9f25d994f83",
              "name": "topPage",
              "value": "/pricing",
              "type": "string"
            },
            {
              "id": "edad4a08-5a84-483a-ab71-a13dd2cf829c",
              "name": "topSource",
              "value": "google/organic",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -48
      ],
      "id": "f039af99-23da-4abb-a5e9-911d3d44eacc",
      "name": "Fake GA4 node"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following website traffic data and generate a short marketing report.\n\nActive Users: {{$json.activeUsers}}\nSessions: {{$json.sessions}}\nNew Users: {{$json.newUsers}}\nTop Page: {{$json.topPage}}\nTop Source: {{$json.topSource}}",
        "options": {
          "systemMessage": "=You are a senior digital marketing analyst specializing in website traffic analysis.\n\nYour job is to analyze website analytics data and produce a clear, professional marketing report.\n\nYour report must include:\n\n1. Traffic Summary\n2. Key Metrics Overview\n3. Top Performing Page\n4. Main Traffic Source\n5. Insights about user behavior\n6. Marketing Recommendations\n\nWrite the report in a clear, concise, professional format suitable for a weekly marketing email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -48
      ],
      "id": "b77c9f35-2ddd-4660-8019-ce8832a8f0cb",
      "name": "Traffic Analysis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "645b7e9d-90be-404e-8ccb-f36e7b6acf05",
              "name": "subject",
              "value": "=Weekly GA4 Traffic Report",
              "type": "string"
            },
            {
              "id": "c5f1e7aa-2731-433a-a2f5-5c143cd431bb",
              "name": "message",
              "value": "=Hello Team,  Here is the AI-generated traffic analysis:  {{$json.output}}  Regards, AI Marketing Agent",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -48
      ],
      "id": "eb5a4a67-3f0f-4870-b145-8e5c82d7d891",
      "name": "Email Formatting"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fake GA4 node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Traffic Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fake GA4 node": {
      "main": [
        [
          {
            "node": "Traffic Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traffic Analysis": {
      "main": [
        [
          {
            "node": "Email Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Formatting": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a75ac9d6-5683-4b96-9659-acb75cc46ddd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94abab0020bbb30a7d9538fb193f55b7a88f3070b8bf5332d1cc6cd8d36ff07b"
  },
  "id": "22zGKZOZiF8OZWqN",
  "tags": []
}